<%= form_with model: [@aricle, @aricle.comments.build] do |form| do %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.select :status, Article::VALID_STATUSES, selected: 'pubic' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>