<%= form_with model: article do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for :title do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <% article.errors.full_messages_for :body do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.select :status, Article::VALID_STATUSES, selected: 'public' %>
  </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
