<%= form_with model: article do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <% article.errors.full_messages_for :title do |message| %>
    <div><%= message %></div>
  <% end %>

  <%= form.labe :body %>
  <%= form.text_area :body %>
  <% article.errors.full_messages_for :body do |message| %>
    <div><%= message %></div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
